<section class="bg-primary" id="overview" style="background-color: #FFFDE7; height: 120%;">
    <style>
        #overview hr.light {
            border-top: none !important; /* Add this rule to remove the border */
        }
        #overview .section-heading {
            color: #000 !important; /* Change heading text color to black */
            font-weight: bold !important; /* Make heading bold */
            font-family: Courier !important; /* Set font to Courier */
        }
        #overview .section-text {
            color: #000 !important; /* Change text color to black */
            font-family: Courier !important; /* Set font to Courier */
            margin-top: 20px; /* Add some margin for spacing */
            font-weight: bold !important;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is Parl-o-mate?</h2>
                <p class="section-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Nullam ac erat ante. Duis condimentum euismod magna, non blandit sem gravida ac. Integer viverra dapibus ligula, sed gravida felis lacinia et. Proin eu ipsum a libero tempus pharetra. Nulla facilisi. Suspendisse potenti. Fusce auctor sapien ac lectus faucibus ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </p>
            </div>
        </div>
    </div>
</section>
