<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | relative_url }}">
        <!-- Include Compiled Custom CSS -->
        <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
        <!-- Include necessary JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
     
<body id="participation">
    {% include nav.html %}
    <div class="iframe-container">
        {% include participation.html %}
    </div>
</body>
</html>
